<!DOCTYPE html>
<html>
  
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Projeto Laboratório II</title>
    </head>

	<body>
        
      <style type="text/css">

    body, html {
    height: 100%;
    margin: 0;
    cursor: url(C:\Users\rui_m\Desktop\projeto_labII_alvaro_pinto_rui_moreira\public\images\sol_cursor.png),default;
}

.funPre {
    background-image: url("images/fundo_predefinido.jpg");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;

}

 .firstTitle img{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
 }
      
    .names {
	background-color: rgba(0,0,0,0.4);
	padding-top:5px;
	padding-bottom:5px;
}

.names p{
	color:#FFF;
	font-family:"Tw Cen MT Condensed";
	font-size:16px;
	opacity:0.5;
	text-align:center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    .firstTitle h1{
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
	  text-align:center;
	  text-decoration:none;
	  color:#FFF;
	  font-family:Helvetica;
	  font-size:56px;
	  user-select: none;
	  -moz-user-select: none;
	  -webkit-user-drag: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
    }

     .secondTitle h2{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
	  text-align:center;
	  text-decoration:none;
	  color:#FFF;
	  font-family:Helvetica;
	  font-size:26px;
	  user-drag: none; 
	  user-select: none;
	  -moz-user-select: none;
	  -webkit-user-drag: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
    }

  
      .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
        
      </style>

      <div class="funPre">

        <div class="names">
            	<p>WEATHERITO by: Álvaro Pinto & Rui Moreira</p>
            </div>

      <div class="firstTitle">
        <h1>Weatherito &nbsp;<img src="images\cloud_predifinida.png" alt="Smiley face" width="85" height="52" ></h1>
      </div>

      <div class="secondTitle">
        <h2>What do you want to know?</h2>
        <h5>Choose whatever you want!</h5>
      </div>


<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Escolher</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#temperatura">Temperatura</a>
    <a href="#temperatura_aparente">Temperatura Aparente</a>
    <a href="#humidade">Humidade</a>
    <a href="#raios_uv">Raios UV</a>
    <a href="#precipitacao">Precipitação</a>
    <a href="#ventos">Ventos</a>
  </div>
</div>



      <form class="form-horizontal">                        
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" id="item"/>
              <p id="favorites-list-text">Nenhum Item Adicionado</p>
              <ul class="list-group" id="favorites-list">
              </ul>
            </div>
          </div>
          

          <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary">Adicionar</button>
            <button type="reset" id="clean"  class="btn btn-secondary">Limpar lista</button>
        </div>
      </form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

       $("#favorites-list").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var favoritesList_string = localStorage.getItem('favoritesList');
        if (favoritesList_string) {
          $("#favorites-list-text").hide();
          $("#favorites-list").show();
          var favoritesList = JSON.parse(favoritesList_string);
          console.log(favoritesList);
          $.each(favoritesList, (index, text) => {
            $("#favorites-list").append(`<li class="list-group-item">${text}</li>`);
          });
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           .submit(function(){
            var favoritesList_string = localStorage.getItem('favoritesList');
            var favoritesList =[];

            if(favoritesList_string) {
              favoritesList = JSON.parse(favoritesList_string);
            }
            favoritesList.push($("#item").val());
            localStorage.setItem('favoritesList', JSON.stringify(favoritesList));
            console.log(localStorage);
          })
      }
    });
    </script>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    </body>

</html>